@import "variables/globals";
@import "reset";
@import "themes/dark";
@import "themes/light";

.body {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}
